@import "../base/variables.less";

a {
	opacity: 0.80;
	color: @color-link;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	
	&:active,
	&:visited,
	&:focus,
	&:hover {
		color: @color-link;
		cursor: pointer;
		outline: none;
		text-decoration: none;
	}
	
	&:hover {
		opacity: 1;
	}
}