@import "../base/variables.less";

#profile {
    position: relative;
    text-align: center;
	
	h1 {
		@media screen and (min-width: 768px) and (max-width: 839px) {
			font-size: 31px;
		}
	}
	
	h2 {
		@media screen and (min-width: 768px) and (max-width: 839px) {
			font-size: 17.2px;
		}
	}
	
	.content {
		padding-right: 0;
		position: fixed;
		width: 33.33333333%;
		
		@media screen and (max-width: 767px) {
			padding-right: 20px;
			position: relative;
			width: 100%;
		}
	}
	
	.pipe {
		padding: 0 5px;
	}
	
	.social {
		li {
			@media screen and (max-width: 337px) {
				margin-left: 9px;
			}
			
			@media screen and (min-width: 768px) and (max-width: 952px) {
				margin-left: 8px;
			}
		}
	}
}

.pt {
	#profile {
		h2 {
			@media screen and (min-width: 840px) and (max-width: 874px) {
				font-size: 17px;
			}
			
			@media screen and (min-width: 768px) and (max-width: 839px) {
				font-size: 15px;
			}
		}
	}
}